:root {
    --amarelo: #fc0;
    --rosa-claro: #FAD0C9;
    --rosa-escuro: #E96A77;
    --branco: #FFFFFF;
    --cinza: #ccc;
}

body {
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--rosa-claro);
    color: #333;
    margin: 0;
    padding: 0;
}

.receita-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--branco); /* Fundo branco para receita */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receita-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
}

.receita-container p {
    margin: 10px 0;
}

.receita-container a {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: var(--rosa-escuro);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.receita-container a:hover {
    background-color: #D95D67;
}

.avaliacoes { /* Adicionado para a seção de avaliações */
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--branco); /* fundo branco para avaliações */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avaliacoes h1 {
    color: var(--rosa-escuro);
    font-size: 28px;
    margin-bottom: 15px;
}

.avaliacoes p {
    font-size: 16px;
    margin-bottom: 20px;
}

.estrelas {
    margin-bottom: 20px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.opcao.fa::before {
    content: '\f005';
    color: var(--amarelo);
    cursor: pointer;
}

.estrelas input[type=radio]:checked~label i.fa::before {
    color: var(--cinza);
}

.estrela-preenchida {
    color: var(--amarelo);
}

.estrela-vazia {
    color: var(--cinza);
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--rosa-escuro);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: #D95D67;
}
