:root{
    --amarelo: #fc0;
    --cinza: #ccc;
}

.estrelas input[type=radio]{
    display: none;
}

.estrelas label i.opcao.fa::before{
    content: '\f005';
    color: var(--amarelo);
}

.estrelas input[type=radio]:checked~label i.fa::before{
    color: var(--cinza);
}

.estrela-preenchida{
    color: var(--amarelo);
}

.estrela-vazia{
    color: var(--cinza);
}